<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ pageTitle }}</title>
    <link href='/css/main.css' rel='stylesheet' />
    {{#if artistsCSS}}
        <link href='/css/artistsCSS.css' rel='stylesheet' />
    {{/if}}
    {{#if artistCSS}}
        <link href='/css/artist.css' rel='stylesheet' />
    {{/if}}
    {{#if formsCSS}}
        <link href='/css/forms.css' rel='stylesheet' />
    {{/if}}

</head>
<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__item-list">
                <li class="main-header__item"><a href="/">Home</a></li>
                <li class="main-header__item"><a href="/artists">All Artist</a></li>
                <li class="main-header__item"><a href="/artist/add">Add Artist</a></li>
            </ul>
        </nav>
    </header>
    {{{ body }}}
</body>
</html>