{{#each artist}}
    <a href="/artist/{{this.id}}">
        <div class="artists">
            <img src='{{this.imageURL}}' />
            <div>
                <p><b>{{this.name}}</b></p>
                <p>{{this.about}}</p>
            </div>
        </div>
    </a>
{{/each}}
